<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
    <button (click)="Toggle()" >Toggle</button>
    <button (click)="timer.onRemoteFarent()" >Call method function to child</button>
    <app-test  [hero]="hero"   #timer [isToggle]="isToggle"
          (voted)="onVoted($event)"
        
    >
      <h2 #projectedContent>TMA solutions</h2>
      <h3 #contentChild>TMA solutions 2</h3>
    </app-test>
</div>